/* -------------------------------------------------------------------------------------------- */
/*.row > div {background:#eee;margin-bottom:20px;border-radius:4px;padding:10px 0;}
.container {background:#ccc !important;}
.title {background:#666 !important;color:#eee !important;}
.bodywrap {}
/* -------------------------------------------------------------------------------------------- */
/* Main styles */
/* -------------------------------------------------------------------------------------------- */
body 
{
	background-color:#CA2C79;
	color:#fefefe;
	/*background-image:url(../img/woody.jpg);*/
	font-family: 'Source Sans Pro', sans-serif;	
}
h1,h2,h3,h4,h5
{
	font-weight:normal;
	font-family: 'Rye', cursive;
}
a,a:link
{
	color:#CA2C79;
	text-decoration:underline;
}
a:hover
{
	text-decoration:none;
}
i
{
	font-style:normal;
}
p
{
	font-size:16px;
}
li
{
	margin-bottom:10px;
}
.bodywrap
{
	position:relative;
}
.title 
{
	text-align:center;	
	margin-bottom:25px;
}
.title h1
{
	font-size:50px;
	margin-bottom:20px;
}
.title p
{
	font-size:20px;
}
/* header - nav */
header
{
	background:#6a2b49;
	position:fixed;
	width:100%;
	top:0;
}
.navbar
{
	margin-bottom:0;
	background:none;
	padding:5px 0;
	height:40px;
}
.navbar-inner
{
	background:#6a2b49;
	margin:0;
	padding:0;
	border:none;
	min-height:0;
	border-radius:0;
}
.navbar .nav > li
{
	margin:0;l00nix
	
}
.navbar .nav > li > a
{
	color:#fff;
	text-shadow:none;
	font-size:16px;
	border-radius:0;	
}
.navbar .nav > li > a i
{
	margin:3px;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:active,
.navbar .nav > li > a:focus
{
	color:#eee;
	background:#CA2C79;
}
.navbar .nav
{
	border:1px solid #6a2b49;
	border-top:0;
}
.navbar .btn-navbar
{
	margin-top:5px;
	margin-right:10px;
	background:#CA2C79;
	border:none;
	border-radius:0;
}
.navbar .btn-navbar:hover
{
	background:#fff;
}
.nav-collapse .nav,
.nav-collapse .nav > li > a
{
	margin:0;
}
.topnav
{
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}
/* content */
#content .container
{
	padding-top:80px;
	padding-bottom:40px;
}
#speakers, #shedule
{
	background-color:#fefefe;
	color:#CA2C79;
}
#sponsors a,
#venue a
{
	color:#fefefe !important;
}

/* blocks */

/* start - tickets */
#start
{
	text-align:center;
}
#start h2
{
	font-size:80px;
	line-height:100px;
	text-align:center;
}
#start h2 i
{
	color:#6a2b49;
}
#start h3.date
{
	color:#6a2b49;
	padding-left:20px;
	padding-right:20px;	
}
#start p
{
	font-size:20px;
	line-height:25px;
	padding-left:20px;
	padding-right:20px;
}
#start .buy a
{
	font-size:25px;
	padding:14px 20px;
	width:200px;
	color:#fff;
	margin:20px auto 25px auto;
	display:block;
	background:#6a2b49;
	text-decoration:none;
	text-transform:uppercase;
}
#start .buy a:hover
{
	background:#333;
}
#start .buy p
{
	font-size:18px;
}
#start .buy p i
{
	text-decoration:line-through;
}
#speakers h2
{
	font-size:20px;
	line-height:30px;
	margin-bottom:0;
}
#speakers .span4 h2
{
	font-size:24px;
}
#speakers a
{
	font-size:16px;
}
#speakers .row
{
	padding-bottom:15px;
}
#venue p
{
	font-size:20px;
	line-height:30px;
}
#shedule h2 
{
	text-align:center;
}
#shedule h2 i
{
	font-family: 'Source Sans Pro', sans-serif;	
	font-size:22px;
	display:block;
}
#shedule .room h3
{
	margin:10px 20px;
	margin-bottom:0;
	font-size:18px;
}
#shedule .room h3 strong
{
	font-size:25px;
	display:block;
}
#shedule .room h3 i
{
	font-size:20px;
	display:block;
	font-family: 'Source Sans Pro', sans-serif;		
}
#shedule .room p
{
	margin:10px 20px;
	font-size:16px;
}
#shedule .room1 > div,
#shedule .room2 > div
{
	margin-left:0;	
	color:#fff;
	min-height:220px;
}
#shedule .room1 > div.break,
#shedule .room2 > div.break
{
	color:#fff;
	text-align:center;
	padding:5px 0;
	min-height:20px;
	text-transform:uppercase;
}
#shedule .room1 > div.break i,
#shedule .room2 > div.break i
{
	margin:3px;
}
#shedule .room1 > div,
#shedule .room2 > div.break
{
	background:#CA2C79 !important;
}
#shedule .room1 > div.break,
#shedule .room2 > div
{
	background:#6A2B49 !important;
}
#shedule .room1 > div.break,
#shedule .room2 > div.break
{
	margin-bottom:30px;
	border-radius:0 0 6px 6px;
}
#shedule .room1 .session,
#shedule .room2 .session
{
	border-radius:6px 6px 0 0;
}
#shedule .room1 > div.break.lunch,
#shedule .room2 > div.break.lunch
{
	text-transform:uppercase;
	padding:15px 0;
}
#shedule .room1 > div.break.lunch i,
#shedule .room2 > div.break.lunch i
{
	margin:3px 0 0 0;
}
#sponsors .sponsor
{
	background:#6A2B49 ;
	margin-bottom:20px;
	border-radius:6px;
}
#sponsors .partners
{
	text-align:center;
	margin-bottom:20px;
}
#sponsors h2
{
	font-size:20px;
	text-align:center;
}
#sponsors h2,
#sponsors h4,
#sponsors p
{
	padding:10px 20px;
}
#sponsors .extra
{
	font-size:20px;
	text-align:center;
}
footer
{
	padding-bottom:80px;
	background:#fff;
	color:#CA2C79;
}
/* -------------------------------------------------------------------------------------------- */
/* Responsive Bullshit */
/* -------------------------------------------------------------------------------------------- */
/* Landscape phones and down */
@media (max-width: 480px){
body {padding:0 !important;}
.topnav
{
	display:block;
	margin: 0;
}
#start h2
{
	font-size:30px !important;
}
#start p
{
	font-size:14px !important;
}
} /* /max-width: 480px */
/* Landscape phone to portrait tablet */
@media (max-width: 767px){
body {padding:0 !important;}
.topnav
{
	display:block;
	margin: 0;
}
#start h2
{
	font-size:40px;
}
#start p
{
	font-size:18px;
}
#speakers img
{
	width:80%;
	display:block;
	margin:auto;
	margin-top:20px;
}
#speakers .row > div
{
	text-align:center;
}
} /* /max-width: 767px */
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px){
.topnav
{
	display:block;
	margin: 0;
}
#start h2
{
	font-size:60px;
}
#shedule .room1 > div,
#shedule .room2 > div
{
	min-height:260px;
}
} /* /min-width: 768px | max-width: 979px */
/* Large desktop */
@media (min-width: 1200px){

} /* min-width: 1200px) */
